html,
button,
input,
select,
textarea {
  color: $grey7;
}

html {
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: $blue-light;
  text-shadow: none;
}

::selection {
  background: $blue-light;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $grey3;
  margin: 1em 0;
  padding: 0;
}

a {
  color: $blue-link;
  outline: none !important;

  &:hover {
    color: $blue-link-hover;
  }
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

ul {
  padding: 0;
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browsehappy {
  margin: 0.2em 0;
  background: $grey3;
  color: #000;
  padding: 0.2em 0;
}
