/* = Buttons = */

.btn {
  width: 240px;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
  @include transition(all 0.3s ease-in-out);

  &.primary {
    color: darken($blue-alt, 10%);
    border: 2px solid $blue-alt;

    &:hover {
      background-color: $blue-alt;
      color: white;
      @include transition(all 0.2s ease);
    }
  }

  &.block {
    display: block;
  }
}