$blue-link: #2A5DB0;
$blue-link-hover: darken($blue-link, 10%);
$blue-light: #B3D4FC;
$blue-start: #2A69B8;
$blue-end: #147ECC;

$grey1: #f2f2f2;
$grey2: #e3e3e3;
$grey3: #cacaca;
$grey4: #a2a2a2;
$grey5: #7a7a7a;
$grey6: #505050;
$grey7: #3a3a3a;
$grey8: #262626;
$grey9: #121212;
