/* = Hexagon = */

.hex-item {
  width: 60px;
  height: 52px;
  overflow: hidden;
  z-index: 2;
}

.hexagon {
  width: 60px;
  height: 52px;
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
  overflow: hidden;
}

.hexagon-inner {
  position: relative;
  width: 60px;
  height: 52px;
  background: #2A69B8;
  background: -webkit-linear-gradient(330deg, #FFFFFF 50%, #2A69B8 50%);
  background: linear-gradient(120deg, #FFFFFF 50%, #2A69B8 50%);
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
}

.hexagon-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -13px;
  margin-left: -2px;
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.uniter-b {
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -30px;
  margin-bottom: -26px;
}
