/* = Hexagon = */

.hex-item {
  width: 60px;
  height: 52px;
  overflow: hidden;
  z-index: 2;
}

.hexagon {
  width: 60px;
  height: 52px;
  overflow: hidden;
  @include transform(rotate(-60deg));
}

.hexagon-inner {
  position: relative;
  width: 60px;
  height: 52px;
  background: $blue-start;
  @include linear-gradient(120deg, white 50%, $blue-start 50%);
  @include transform(rotate(120deg));
}

.hexagon-helper {
  &.teal {
    .hexagon-inner {
      background: $teal;
      @include linear-gradient(120deg, white 50%, $teal 50%);
    }
  }

  &.blue-alt {
    .hexagon-inner {
      background: $blue-alt;
      @include linear-gradient(120deg, white 50%, $blue-alt 50%);
    }
  }
}

.uniter-b {
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -30px;
  margin-bottom: -26px;
}
