// List of Projects

.projects {
  h2 {
    margin-top: 10px;
    margin-bottom: 0;

    + p.subtitle {
      margin-top: 5px;
    }
  }

  .terra {
    padding-bottom: 0;
  }
}

.work-unit {
  margin-bottom: 60px;
}

.desktop-browser {
  border: 2px solid $grey4;
  border-radius: 5px;
  @include box-sizing(border-box);

  &.left {
    @media screen and (min-width: 768px) {
      width: 65%;
      float: left;
    }
  }

  .browser-top {
    border-bottom: 2px solid $grey4;
  }

  ul.controls {
    float: left;
    list-style: none;
    padding: 0 10px;
    line-height: 44px;

    li {
      display: inline-block;
      width: 12px;
      height: 12px;
      vertical-align: middle;
      margin-right: 8px;
      background-color: $grey4;
      border-radius: 50%;
    }
  }

  .address-bar {
    margin: 7px 7px 7px 80px;
    padding: 0 7px;
    border: 2px solid $grey4;
    border-radius: 3px;
    color: $grey5;
    font-size: 15px;
  }

  .browser-body {
    a {
      border-radius: 5px;
    }

    img {
      width: 100%;
    }
  }
}

.card {
  box-sizing: border-box;

  @media screen and (min-width: 768px) {
    width: 35%;
    float: left;
    padding-left: 60px;
  }

  .fa-external-link {
    vertical-align: middle;
  }
}

// Project Details

.columns {
  font-size: 0;
  margin-left: -3%;
  margin-right: -3%;

  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
  }

  .half {
    display: inline-block;
    width: 50%;
    padding: 0 3%;
    font-size: 16px;
    vertical-align: middle;
    @include box-sizing(border-box);

    > div {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .detail-unit {
    margin-bottom: 1em;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }
}
