@import "colors";
@import "base";
@import "helpers";
@import "mixins";
@import "works";
@import "hexagon";

/* === Softbeehive === */

html, 
body {
  height: 100%;
}

body {
  font: 16px/26px "Helvetica", "Helvetica Neue", "Arial";
}


/* = Arctic ocean = */

.arctic-ocean {
  padding: 60px 0;
}

.softbeehive {
  margin: 0;

  @media screen and (min-width: 768px) {
    float: left;
  }

  a, 
  a:focus, 
  a:active, 
  a:visited {
    color: $grey7;
    text-decoration: none;
  }

  .logo {
    width: 160px;
  }

  .mcapt {
    @media screen and (min-width: 768px) {
      display: block;
      padding-top: 10px;
      font-size: 27px;
    }
  }
}

/* = Nav = */

.colossus-nav {
  float: right;
}

ul.colossus-ul {
  padding: 0;

  li {
    display: block;
    float: left;
    margin: 0 20px;

    &:hover {
      border-bottom: 2px solid $blue-link-hover;
    }

    &:last-child {
      margin-right: 0;
    }

    a {
      font-size: 18px;
      line-height: 28px;
      text-decoration: none;
    }
  }
}

/* I do section */

.i-do {
  position: relative;
  color: white;
}

.h-to {
  background: $blue-start;
  @include linear-gradient(-45deg, $blue-end, $blue-start);
  padding: 123px 0 150px;
  text-align: center;
}

/* = Atlantic ocean = */

.atlantic-ocean {
  position: relative;
}

/* = Terra du content = */

.island {
  width: 90%;
  margin: 0 5%;

  @media screen and (min-width: 1280px) {
    // 1280px - 10% for margins
    width: 1152px; 
    margin: 0 auto;
  }
}

.terra {
  padding: 50px 0;
}

/* = Pacific ocean = */

.pacific-ocean {

}

/* = Southern ocean = */

.southern-ocean {
  background: $grey8;
  color: white;

  .island {
    padding: 16px 0;
  }
}

/* = Footer = */

.hemi {
  width: 50%;
  float: left;
}

.timeframe {
  margin-right: 5px;
}

ul.hubs {
  float: right;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    margin-left: 8px;
  }
}

/* = Sticky footer = */

.united {
  min-height: 100%;
  margin-bottom: -64px;

  &:after {
    content: "";
    display: block;
  }
}

.southern-ocean, 
.united:after {
  height: 64px;
}


/* = Medium screen, IE fixes = */

@media only screen and (min-width: 480px) {

  nav ul li {
    display: inline;
  }

  .oldie nav a {
    margin: 0 0.7%;
  }
}
