@import "mixins";
@import "colors";
@import "base";
@import "helpers";
@import "buttons";
@import "projects";
@import "contact";
@import "about";
@import "hexagon";

/* === Softbeehive === */

html, 
body {
  height: 100%;
}

body {
  font: 16px/26px "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}


/* = Arctic ocean = */

.arctic-ocean {
  padding: 30px 0;

  .island {
    position: relative;
  }
}

.softbeehive {
  margin: 0;

  @media screen and (min-width: 768px) {
    float: left;
  }

  a, 
  a:focus, 
  a:active, 
  a:visited {
    color: $grey7;
    text-decoration: none;
  }

  .logo {
    width: 140px;
    height: 140px;
  }

  .mcapt {
    @media screen and (min-width: 768px) {
      display: block;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 25px;
    }
  }
}

/* = Nav = */

.colossus-nav {
  @media screen and (min-width:768px) {
    position: absolute;
    margin-top: -16px;
    margin-left: 145px;
    text-align: right;
    top: 50%;
    right: 0;
    left: 0;
  }

}

ul.colossus-ul {
  padding: 0;
  display: inline-block;
  vertical-align: middle;

  li {
    display: inline-block;
    margin: 0 20px;

    &:hover {
      border-bottom: 2px solid $blue-link-hover;

      &.github {
        border-bottom: none;
      }
    }

    &.active {
      border-bottom: 2px solid $blue-link-hover;

      a {
        color: $blue-link-hover;
      }
    }

    .fa-github {
      color: $grey7;
      font-size: 28px;
      vertical-align: middle;
    }

    &:last-child {
      margin-right: 0;
    }

    a {
      display: inline-block;
      font-size: 18px;
      text-decoration: none;
    }
  }
}

/* I do section */

.i-do {
  position: relative;
  color: white;
  background-color: $blue-start;
  padding: 70px 0;
  text-align: center;

  &.blue-grad {
    @include linear-gradient(-45deg, $blue-end, $blue-start);
  }

  &.teal-bg {
    background-color: $teal;
  }

  &.blue-alt-bg {
    background-color: $blue-alt;
  }

  h1 {
    font-weight: 500;
    text-shadow: 1px 1px 1px rgba($grey7, 0.4);
  }

  .larisa {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/* = Atlantic ocean = */

.atlantic-ocean {
  position: relative;
}

/* = Terra du content = */

.island {
  width: 90%;
  margin: 0 5%;

  @media screen and (min-width: 1280px) {
    // 1280px - 10% for margins
    width: 1152px; 
    margin: 0 auto;
  }
}

.terra {
  padding: 60px 0;
}

/* = Pacific ocean = */

.pacific-ocean {

}

/* = Southern ocean = */

.southern-ocean {
  background: $grey8;
  color: white;
}

footer {
  line-height: 24px;
  padding: 20px 0;
}

.timeframe {
  margin-right: 5px;
}

/* = Sticky footer = */

.united {
  min-height: 100%;
  margin-bottom: -64px;

  &:after {
    content: "";
    display: block;
  }
}

.southern-ocean, 
.united:after {
  height: 64px;
}


/* = Medium screen, IE fixes = */

@media only screen and (min-width: 480px) {

  nav ul li {
    display: inline;
  }

  .oldie nav a {
    margin: 0 0.7%;
  }
}
