p As a member of iD team I built pixel perfect responsive client side that works well across major browsers and devices, optimized javascript making it reusable and fast, communicated with backend to organize and fetch data, contributed to styleguide to keep styles consistent, maintainable and dry. As result app is beautiful, modern and feature-rich.